src/mobile/meinbundestag-mobile/node_modules/
src/mobile/meinbundestag-mobile/.expo/
src/mobile/meinbundestag-mobile/.expo-shared/
src/mobile/meinbundestag-mobile/out
**/__pycache__
.vscode/
**/build
main.pdf
.yarnclean
amse.code-workspace
*.pyc
ods/
meinbundestag-database
.env